
<!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
<link href="${rc.contextPath}/resources/img/base/favicon.ico" rel="icon">

<!-- Animate.css -->
<link rel="stylesheet" href="${rc.contextPath}/resources/css/view/main/animate.css">

<!-- Icomoon Icon Fonts-->
<link rel="stylesheet" href="${rc.contextPath}/resources/css/view/main/icomoon.css">
<!-- Simple Line Icons -->
<link rel="stylesheet" href="${rc.contextPath}/resources/css/view/main/simple-line-icons.css">

<!-- Theme Style -->
<link rel="stylesheet" href="${rc.contextPath}/resources/css/view/main/style.css?v=1.0">
<!-- Bootstrap  -->
<link rel="stylesheet" href="${rc.contextPath}/resources/css/lib/bootstrap.min.css">
<!-- Modernizr JS -->
<script src="${rc.contextPath}/resources/js/lib/modernizr-2.6.2.min.js"></script>


<!-- The fav icon -->
<link rel="shortcut icon" href='${rc.contextPath}/resources/charisma/img/shang.jpeg'>