<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Minutch">
    <link href="/pandave/resources/img/base/favicon.ico" rel="icon">

    <link rel="stylesheet" href="/pandave/resources/css/lib/bootstrap.css"/>
    <link rel="stylesheet" href="/pandave/resources/css/lib/jBootsrapPage.css"/>
    <link rel="stylesheet" href="/pandave/resources/css/view/mainpage.css"/>
    <script type="text/javascript" src="/pandave/resources/js/lib/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/pandave/resources/js/lib/bootstrap.js"></script>
    <script type="text/javascript" src="/pandave/resources/js/lib/jBootstrapPage.js"></script>
    <script type="text/javascript" src="/pandave/resources/js/view/mainpage.js"></script>


    <title>
        北京现代舞团
    </title>
</head>
<body>

<div id="container" class="container-fluid">
    <div class="row">

        <!-- 左侧导航栏 -->
        <div class="col-sm-18 leftMenu">
            <div id="menuHeader">
                闵崇建
            </div>

            <div id="menuEnd">
                Copyright©<br/>北京现代舞团 <br/>All Rights Reserved
            </div>
        </div>


        <!-- 右侧内容 -->
        <div class="col-sm-78 main">
            <div id="mainHeader">
                <div class="row content-header-nav">
                    <span class="main-nav main-nav-active">学员中心</span>
                    <span class="main-nav-disable">敬请期待</span>
                </div>
            </div>

            <div id="mainContent">
                <div class="row contentDiv">

                    <div class="userCenterDiv">
                        <table class="table">
                            <thead>
                            <tr>
                                <th>序号</th>
                                <th>学员姓名</th>
                                <th>学员课程</th>
                                <th>总课时</th>
                                <th>剩余课时</th>
                                <th>操作</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="">
                                <th scope="row">1</th>
                                <td>闵崇建</td>
                                <td>芭蕾舞</td>
                                <td>60课时</td>
                                <td>20课时</td>
                                <td>
                                    <a class="btn btn-info signBtn">打卡</a>
                                </td>
                            </tr>
                            <tr class="info">
                                <th scope="row">2</th>
                                <td>闵崇建</td>
                                <td>芭蕾舞</td>
                                <td>60课时</td>
                                <td>20课时</td>
                                <td>
                                    <a class="btn btn-info signBtn">打卡</a>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td>闵崇建</td>
                                <td>芭蕾舞</td>
                                <td>60课时</td>
                                <td>20课时</td>
                                <td>
                                    <a class="btn btn-info signBtn">打卡</a>
                                </td>
                            </tr>
                            <tr class="success">
                                <th scope="row">4</th>
                                <td>闵崇建</td>
                                <td>芭蕾舞</td>
                                <td>60课时</td>
                                <td>20课时</td>
                                <td>
                                    <a class="btn btn-info signBtn">打卡</a>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">5</th>
                                <td>闵崇建</td>
                                <td>芭蕾舞</td>
                                <td>60课时</td>
                                <td>20课时</td>
                                <td>
                                    <a class="btn btn-info signBtn">打卡</a>
                                </td>
                            </tr>
                            <tr class="warning">
                                <th scope="row">6</th>
                                <td>闵崇建</td>
                                <td>芭蕾舞</td>
                                <td>60课时</td>
                                <td>20课时</td>
                                <td>
                                    <a class="btn btn-info signBtn">打卡</a>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">7</th>
                                <td>闵崇建</td>
                                <td>芭蕾舞</td>
                                <td>60课时</td>
                                <td>20课时</td>
                                <td>
                                    <a class="btn btn-info signBtn">打卡</a>
                                </td>
                            </tr>
                            <tr class="self-primary">
                                <th scope="row">8</th>
                                <td>闵崇建</td>
                                <td>芭蕾舞</td>
                                <td>60课时</td>
                                <td>20课时</td>
                                <td>
                                    <a class="btn btn-info signBtn">打卡</a>
                                </td>
                            </tr>
                            <tr>
                                <th scope="row">9</th>
                                <td>闵崇建</td>
                                <td>芭蕾舞</td>
                                <td>60课时</td>
                                <td>20课时</td>
                                <td>
                                    <a class="btn btn-info signBtn">打卡</a>
                                </td>
                            </tr>
                            <tr class="danger">
                                <th scope="row">10</th>
                                <td>闵崇建</td>
                                <td>芭蕾舞</td>
                                <td>60课时</td>
                                <td>20课时</td>
                                <td>
                                    <a class="btn btn-info signBtn">打卡</a>
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>

                    <div align="center">
                        <ul class="pagination"></ul>
                    </div>
                </div>
            </div>

        </div>

        <!-- 左侧导航栏 -->
        <div class="col-sm-24 rightMenu">

            <div class="hotDiv">
                <div class="catDiv">
                    <h3>
                        <span class="hotContent">热门课程</span>
                    </h3>

                    <div class="cat1 commonCat col-sm-40">现代舞</div>
                    <div class="cat2 commonCat col-sm-40">华尔兹</div>
                    <div class="cat3 commonCat col-sm-40">探戈</div>


                    <div class="cat3 commonCat col-sm-40">恰恰恰</div>
                    <div class="cat2 commonCat col-sm-40">牛仔舞</div>
                    <div class="cat1 commonCat col-sm-40">桑巴</div>


                    <div class="cat1 commonCat col-sm-40">民族舞</div>
                    <div class="cat2 commonCat col-sm-40">踢踏舞</div>
                    <div class="cat3 commonCat col-sm-40">爵士</div>
                </div>

                <div class="tagDiv">
                    <h3 class="tagTitle">
                        <span class="hotContent">热门标签</span>
                    </h3>
                    <a class="post-tag-group" href="#">宴会芭蕾</a>
                    <a class="post-tag-group" href="#">宫廷芭蕾</a>
                    <a class="post-tag-group" href="#">情节芭蕾</a>
                    <a class="post-tag-group" href="#">俄罗斯芭蕾</a>
                    <a class="post-tag-group" href="#">当代芭蕾</a>
                    <a class="post-tag-group" href="#">华尔兹</a>
                    <a class="post-tag-group" href="#">探戈</a>
                    <a class="post-tag-group" href="#">狐步</a>
                    <a class="post-tag-group" href="#">快步</a>
                    <a class="post-tag-group" href="#">维也纳华尔兹</a>
                    <a class="post-tag-group" href="#">伦巴</a>
                    <a class="post-tag-group" href="#">恰恰恰</a>
                    <a class="post-tag-group" href="#">民族舞</a>
                    <a class="post-tag-group" href="#">踢踏舞</a>
                    <a class="post-tag-group" href="#">丝带舞</a>
                    <a class="post-tag-group" href="#">爵士舞</a>
                    <a class="post-tag-group" href="#">彩带舞</a>
                    <a class="post-tag-group" href="#">钢管舞</a>

                    <div class="changeTagDiv">
                        <button type="button" class="btn btn-danger changeTagBtn">换一批</button>
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>


</body>
</html>




##<div class="tagDiv">
##    <a class="post-tag-group" href="#">闻鸡起舞</a>
##    <a class="post-tag-group" href="#">手不释卷</a>
##    <a class="post-tag-group" href="#">围城里的故事</a>
##    <a class="post-tag-group" href="#">肖恩克的救赎</a>
##    <a class="post-tag-group" href="#">北京</a>
##    <a class="post-tag-group" href="#">拥挤的人群</a>
##    <a class="post-tag-group" href="#">热泪盈眶</a>
##    <a class="post-tag-group" href="#">古诗词</a>
##    <a class="post-tag-group" href="#">跟着风走吧</a>
##    <a class="post-tag-group" href="#">闻鸡起舞</a>
##    <a class="post-tag-group" href="#">手不释卷</a>
##    <a class="post-tag-group" href="#">围城里的故事</a>
##    <a class="post-tag-group" href="#">肖恩克的救赎</a>
##    <a class="post-tag-group" href="#">北京</a>
##    <a class="post-tag-group" href="#">拥挤的人群</a>
##    <a class="post-tag-group" href="#">热泪盈眶</a>
##    <a class="post-tag-group" href="#">古诗词</a>
##    <a class="post-tag-group" href="#">跟着风走吧</a>
##
##    <div class="changeTagDiv">
##        <button type="button" class="btn btn-danger changeTagBtn">换一批</button>
##    </div>
##</div>


























































