<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">

<display-name>Fauna SQMALL</display-name>
    <!-- 字符编码过滤器 -->
    <filter>
        <filter-name>encodingFilter</filter-name>
        <filter-class>org.springframework.web.filter.CharacterEncodingFilter</filter-class>
        <init-param>
            <param-name>encoding</param-name>
            <param-value>UTF-8</param-value>
        </init-param>
        <init-param>
            <param-name>forceEncoding</param-name>
            <param-value>true</param-value>
        </init-param>
    </filter>

    <!-- request过滤器，为了签名时能拿到request payload中的值，且不影响后续接口取值的过滤器 -->
    <!--<filter>-->
        <!--<filter-name>floraHttpServletRequestFilter</filter-name>-->
        <!--<filter-class>com.yuanpin.flora.filter.FloraHttpServletRequestFilter</filter-class>-->
    <!--</filter>-->
    <!--<filter-mapping>-->
        <!--<filter-name>floraHttpServletRequestFilter</filter-name>-->
        <!--<url-pattern>/*</url-pattern>-->
    <!--</filter-mapping>-->
    <!-- Monitor过滤器 -->
    <filter>
        <filter-name>MonitorFilter</filter-name>
        <filter-class>com.yuanpin.flora.filter.MonitorFilter</filter-class>
        <init-param>
            <param-name>opKey</param-name>
            <param-value>userId</param-value>
        </init-param>
        <init-param>
            <param-name>realOpKey</param-name>
            <param-value>operatorUserId</param-value>
        </init-param>
        <init-param>
            <param-name>noLog</param-name>
            <param-value>.jpg.png.gif.ico.css.js.woff2</param-value>
        </init-param>
    </filter>
    <filter-mapping>
        <filter-name>MonitorFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>
    <!-- Vote过滤器 -->
    <!--<filter>-->
        <!--<filter-name>VoteFilter</filter-name>-->
        <!--<filter-class>com.yuanpin.flora.filter.VoteFilter</filter-class>-->
        <!--<init-param>-->
            <!--<param-name>wechatAuthorizeUrl</param-name>-->
            <!--<param-value>${jdbc.url}</param-value>-->
        <!--</init-param>-->
    <!--</filter>-->
    <!--<filter-mapping>-->
        <!--<filter-name>VoteFilter</filter-name>-->
        <!--<url-pattern>/flora/marketing/*</url-pattern>-->
    <!--</filter-mapping>-->

    <servlet>
        <servlet-name>spring</servlet-name>
        <servlet-class>org.springframework.web.servlet.DispatcherServlet</servlet-class>
        <init-param>
            <param-name>contextConfigLocation</param-name>
            <param-value>/WEB-INF/application-servlet.xml</param-value>
        </init-param>
        <load-on-startup>1</load-on-startup>
    </servlet>
    <servlet-mapping>
        <servlet-name>spring</servlet-name>
        <url-pattern>/*</url-pattern>
    </servlet-mapping>


    <filter-mapping>
        <filter-name>encodingFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <!-- 欢迎页面 -->
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>
</web-app>
