<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <title>用户手册中心</title>

    #parse("docs/public/commonStyle.vm")
</head>

<body>

    #parse("docs/public/topBar.vm")

<div class="ch-container">
    <div class="row">

    ##引入左边菜单栏
        #parse("docs/public/leftMenu.vm")

        <div id="content" class="col-lg-10 col-sm-10">
            <div>
                <ul class="breadcrumb">
                    <li>
                        <a href="#">订单中心</a>
                    </li>
                    <li>
                        <a href="#">添加订单信息</a>
                    </li>
                </ul>
            </div>


            <div class="row clearfix">
                <div class="col-md-12 column">
                    <div class="jumbotron">

                        <p>
                            一、当您需要添加订单时，需要先查询到客户的信息，根据<a href="${rc.contextPath}/doc/queryCustomer">查询客户信息</a>找到客户，然后点击客户名称链接，如下图所示
                        </p>

                        <img width="100%" src="https://fauna-test.b0.upaiyun.com/icon/201707/createOrder1.png" />

                        <br/>
                        <br/>
                        <br/>

                        <p>
                            二、点击【创建订单】按钮，如下图所示
                        </p>

                        <img width="100%" src="https://fauna-test.b0.upaiyun.com/icon/201707/createOrder2.png" />

                        <br/>
                        <br/>
                        <br/>
                        <p>
                            三、输入订单信息后，点击【保存订单】按钮，如下图所示
                        </p>

                        <img width="100%" src="https://fauna-test.b0.upaiyun.com/icon/201707/createOrder3.png" />

                        <br/>
                        <br/>
                        <br/>

                        <p>
                            四、订单创建成功后，您就能在订单信息里看到刚刚创建的订单了，如下图所示
                        </p>

                        <img width="100%" src="https://fauna-test.b0.upaiyun.com/icon/201707/createOrder4.png" />

                        <br/>
                        <br/>
                        <br/>

                        <p align="center">
                            【——本小节结束——】
                        </p>

                    </div>

                </div>
            </div>


        </div>

    </div>
    <hr>

    #parse("docs/public/footer.vm")

</div>

    #parse("docs/public/commonJS.vm")
</body>
</html>
