<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <title>用户手册中心</title>

    #parse("docs/public/commonStyle.vm")
</head>

<body>

    #parse("docs/public/topBar.vm")

<div class="ch-container">
    <div class="row">

    ##引入左边菜单栏
        #parse("docs/public/leftMenu.vm")

        <div id="content" class="col-lg-10 col-sm-10">
            <div>
                <ul class="breadcrumb">
                    <li>
                        <a href="#">用户中心</a>
                    </li>
                    <li>
                        <a href="#">删除客户信息</a>
                    </li>
                </ul>
            </div>


            <div class="row clearfix">
                <div class="col-md-12 column">
                    <div class="jumbotron">

                        <p>
                            一、当您需要删除客户信息时，根据<a href="${rc.contextPath}/doc/queryCustomer">查询客户信息</a>找到客户，然后点击【删除】按钮，如下图所示
                        </p>

                        <img width="100%" src="https://fauna-test.b0.upaiyun.com/icon/201707/deleteCustomer1.png" />

                        <br/>
                        <br/>
                        <br/>

                        <p>
                            二、点击【删除】按钮后，为了防止误删除，会跳出删除确认页面，点击【确认】后才真正删除客户
                        </p>

                        <img width="100%" src="https://fauna-test.b0.upaiyun.com/icon/201707/deleteCustomer2.png" />

                        <br/>
                        <br/>
                        <br/>
                        <p align="center">
                            【——本小节结束——】
                        </p>

                    </div>

                </div>
            </div>


        </div>

    </div>
    <hr>

    #parse("docs/public/footer.vm")

</div>

    #parse("docs/public/commonJS.vm")
</body>
</html>
