<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <title>用户手册中心</title>

    #parse("docs/public/commonStyle.vm")
</head>

<body>

    #parse("docs/public/topBar.vm")

<div class="ch-container">
    <div class="row">

    ##引入左边菜单栏
        #parse("docs/public/leftMenu.vm")

        <div id="content" class="col-lg-10 col-sm-10">
            <div>
                <ul class="breadcrumb">
                    <li>
                        <a href="#">订单中心</a>
                    </li>
                    <li>
                        <a href="#">修改订单信息</a>
                    </li>
                </ul>
            </div>


            <div class="row clearfix">
                <div class="col-md-12 column">
                    <div class="jumbotron">

                        <p>
                            一、您也可以输入客户名字，或者是手机号，或者是小区名称，查询特定客户的订单，然后点击【编辑】，如下图所示
                        </p>

                        <img width="100%" src="https://fauna-test.b0.upaiyun.com/icon/201707/modifyOrder1.png" />

                        <br/>
                        <br/>
                        <br/>

                        <p>
                            二、在下方订单里找到需要修改的订单，点击【编辑】按钮，输入新信息后，点击【保存订单】，如下图所示
                        </p>
                        <img width="100%" src="https://fauna-test.b0.upaiyun.com/icon/201707/modifyOrder4.png" />
                        <br/>
                        <br/>
                        <br/>
                        <img width="100%" src="https://fauna-test.b0.upaiyun.com/icon/201707/modifyOrder2.png" />
                        <br/>
                        <br/>
                        <br/>
                        <p align="center">
                            【——本小节结束——】
                        </p>

                    </div>

                </div>
            </div>


        </div>

    </div>
    <hr>

    #parse("docs/public/footer.vm")

</div>

    #parse("docs/public/commonJS.vm")
</body>
</html>
