<!DOCTYPE html>
<html lang="en">
<head>

    <meta charset="utf-8">
    <title>用户手册中心</title>

    #parse("docs/public/commonStyle.vm")
</head>

<body>

    #parse("docs/public/topBar.vm")

<div class="ch-container">
    <div class="row">

    ##引入左边菜单栏
        #parse("docs/public/leftMenu.vm")

        <div id="content" class="col-lg-10 col-sm-10">
            <div>
                <ul class="breadcrumb">
                    <li>
                        <a href="#">订单中心</a>
                    </li>
                    <li>
                        <a href="#">订单结算收款</a>
                    </li>
                </ul>
            </div>


            <div class="row clearfix">
                <div class="col-md-12 column">
                    <div class="jumbotron">

                        <p>
                            一、有客户结账时，根据<a href="${rc.contextPath}/doc/queryCustomer">查询客户信息</a>找到客户，进入客户详情页，找到订单，点击【还款】按钮，如下图所示
                        </p>

                        <img width="100%" src="https://fauna-test.b0.upaiyun.com/icon/201707/payOrder1.png" />

                        <br/>
                        <br/>
                        <br/>

                        <p>
                            二、为防止误操作，系统会提示您确认还款，点击【确认】按钮后，确认还款，如下图所示
                        </p>
                        <img width="100%" src="https://fauna-test.b0.upaiyun.com/icon/201707/payOrder2.png" />
                        <br/>
                        <br/>
                        <br/>
                        <p>
                            三、还款成功时，该订单显示已结清，如下图所示
                        </p>
                        <img width="100%" src="https://fauna-test.b0.upaiyun.com/icon/201707/payOrder3.png" />
                        <br/>
                        <br/>
                        <br/>
                        <p align="center">
                            【——本小节结束——】
                        </p>

                    </div>

                </div>
            </div>


        </div>

    </div>
    <hr>

    #parse("docs/public/footer.vm")

</div>

    #parse("docs/public/commonJS.vm")
</body>
</html>
