.article-title {
    margin-top: 0.3rem;
    border-bottom: 1px solid #ddd;
    padding-bottom: 30px;
}

.info {
    margin-top: 0.12rem;
    font-size: 16px;
    color: #999999;
}

.article-content {
    margin-top: 50px;
    border-bottom: 1px dashed #999999;
    padding-bottom: 50px;
    margin-bottom: 50px;
    text-align: left;
}

.article-footer {
    font-size: 12px;
    margin-bottom: 50px;
    color: #888888;
}