<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Free HTML5 Bootstrap Admin Template</title>
    #parse("charisma/public/commonStyle.vm")
</head>

<body>
    #parse("charisma/public/topBar.vm")
<div class="ch-container">
    <div class="row">
        
        < ##引入左边菜单栏
        #parse("charisma/public/leftMenu.vm")

        <div id="content" class="col-lg-10 col-sm-10">
            <!-- content starts -->
                <div>
        <ul class="breadcrumb">
            <li>
                <a href="#">Home</a>
            </li>
            <li>
                <a href="#">Tour</a>
            </li>
        </ul>
    </div>

    <div class="row">
        <div class="box col-md-12 tour">
            <div class="box-inner">
                <div class="box-header well" data-original-title="">
                    <h2><i class="glyphicon glyphicon-globe"></i> Tour</h2>

                    <div class="box-icon">
                        <a href="#" class="btn btn-setting btn-round btn-default"><i
                                class="glyphicon glyphicon-cog"></i></a>
                        <a href="#" class="btn btn-minimize btn-round btn-default"><i
                                class="glyphicon glyphicon-chevron-up"></i></a>
                        <a href="#" class="btn btn-close btn-round btn-default"><i
                                class="glyphicon glyphicon-remove"></i></a>
                    </div>
                </div>
                <div class="box-content">
                    <a href="tour.vm">Click Here to restart the tour</a><br>
                    You can create Custom Tour, like this. <br> For more help on implementing tour go <a
                        href="http://bootstraptour.com/" target="_blank">here</a>
                </div>
            </div>
        </div>
        <!--/span-->
    </div><!--/row-->

    <!-- content ends -->
    </div><!--/#content.col-md-0-->
</div><!--/fluid-row-->

    <hr>

    #parse("charisma/public/footer.vm")

</div><!--/.fluid-container-->
        #parse("charisma/public/commonJS.vm")
</body>
</html>
