<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="Minutch">
    <link href="/fox/resources/img/base/favicon.ico" rel="icon">

    <link rel="stylesheet" href="/fox/resources/css/lib/bootstrap.css"/>
    <link rel="stylesheet" href="/fox/resources/css/view/topic/answerDetail.css"/>

    <script type="text/javascript" src="/fox/resources/js/lib/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="/fox/resources/js/lib/bootstrap.js"></script>
    <script type="text/javascript" src="/fox/resources/js/lib/jBootstrapPage.js"></script>
    <script type="text/javascript" src="/fox/resources/js/lib/jquery.lazyload.js"></script>
    <script type="text/javascript" src="/fox/resources/js/view/topic/answerDetail.js"></script>


    <title>
        熊猫阅读
    </title>
</head>
<body>

<div id="container" class="container-fluid">

    <div align="center">
        <div style="width: 90%;">
            <header class="article-title">
                <h1>$answerDetail.topicTitle</h1>

                <p class="info">
                    <span class="nick">$answerDetail.answerAuthorName</span>
                    <span class="Separate"> ·</span>
                    <span class="date">$answerDetail.answerModifyTime</span>
                </p>
            </header>

            <div class="article-content">
                $answerDetail.answerContent
##                <img rel="noreferrer" src="https://ss2.baidu.com/6ONYsjip0QIZ8tyhnq/it/u=83857709,2848606682&fm=80">
##                <img rel="noreferrer" src="https://pic3.zhimg.com/5c53ffb338300d348b6748a4d7fb8ae6_b.png">
            </div>

            <div class="article-footer">
            ##                心里有座坟，藏着未亡人
            ##                不要追她，她只是一只小熊猫啊！
                苟利国家生死以，岂因祸福避趋之
            </div>
        </div>
    </div>

</div>

</body>
</html>




##
##<meta http-equiv="Content-Type" content="text/html; charset=gb2312"/>
##
##<h1>直接盗链：</h1><br>
##<img src="http://image-7.verycd.com/5f95d1b249b411d069ecdb2c7a370e3c160890(600x)/thumb.jpg"/><br>
##<h1>js破解盗链：</h1><br>
##<div id="hotlinking">
##    <script type="text/javascript">showImg('http://image-7.verycd.com/5f95d1b249b411d069ecdb2c7a370e3c160890(600x)/thumb.jpg');</script>
##</div><br>























