<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>数据报表</title>
    #parse("decoration/public/commonStyle.vm")


    <link rel="stylesheet" href="${rc.contextPath}/resources/css/view/decoration/chart.css?v=1.0"/>
    <script type="text/javascript" src="${rc.contextPath}/resources/js/view/decoration/chart.js?v=1.02"></script>
</head>

<body>
    #parse("decoration/public/topBar.vm")
<div class="ch-container">
    <div class="row">

    ##引入左边菜单栏
        #parse("decoration/public/leftMenu.vm")

        <div id="content" class="col-lg-10 col-sm-10">
            <!-- content starts -->
            <div>
                <ul class="breadcrumb">
                    <li>
                        <a href="#">数据中心</a>
                    </li>
                    <li>
                        <a href="#">数据报表</a>
                    </li>
                </ul>
            </div>


            <!-- 年度报表 -->
            <div class="row">
                <div class="box col-md-12">
                    <div class="box-inner">
                        <div class="box-header well">
                            <h2><i class="glyphicon glyphicon-list-alt"></i> 近10天总营业额</h2>

##                            <div class="box-icon">
##                                <a href="#" class="btn btn-setting btn-round btn-default"><i
##                                        class="glyphicon glyphicon-cog"></i></a>
##                                <a href="#" class="btn btn-minimize btn-round btn-default"><i
##                                        class="glyphicon glyphicon-chevron-up"></i></a>
##                                <a href="#" class="btn btn-close btn-round btn-default"><i
##                                        class="glyphicon glyphicon-remove"></i></a>
##                                <span id="clickdata"></span>
##                            </div>
                        </div>
                        <div class="box-content">
                            <div id="reportNearlyDaysOrderAmount" class="center" style="height:300px"></div>
                        </div>
                    </div>
                </div>

            </div>
            <!--/row-->


            <!-- 高销量商品Top10 -->
            <div class="row">
                <div class="box col-md-12">
                    <div class="box-inner">
                        <div class="box-header well">
                            <h2><i class="glyphicon glyphicon-list-alt"></i> 高销量商品Top10</h2>

##                            <div class="box-icon">
##                                <a href="#" class="btn btn-setting btn-round btn-default"><i
##                                        class="glyphicon glyphicon-cog"></i></a>
##                                <a href="#" class="btn btn-minimize btn-round btn-default"><i
##                                        class="glyphicon glyphicon-chevron-up"></i></a>
##                                <a href="#" class="btn btn-close btn-round btn-default"><i
##                                        class="glyphicon glyphicon-remove"></i></a>
##                            </div>
                        </div>
                        <div class="box-content">
                            <div id="reportHotGoodsByNum" class="center" style="height:300px"></div>
                        </div>
                    </div>
                </div>

            </div>
            <!--/row-->

            <!-- 高销售额商品Top10 -->
            <div class="row">
                <div class="box col-md-12">
                    <div class="box-inner">
                        <div class="box-header well">
                            <h2><i class="glyphicon glyphicon-list-alt"></i> 高销售额商品Top10</h2>

##                            <div class="box-icon">
##                                <a href="#" class="btn btn-setting btn-round btn-default"><i
##                                        class="glyphicon glyphicon-cog"></i></a>
##                                <a href="#" class="btn btn-minimize btn-round btn-default"><i
##                                        class="glyphicon glyphicon-chevron-up"></i></a>
##                                <a href="#" class="btn btn-close btn-round btn-default"><i
##                                        class="glyphicon glyphicon-remove"></i></a>
##                            </div>
                        </div>
                        <div class="box-content">
                            <div id="reportHotGoodsByAmount" class="center" style="height:300px"></div>
                        </div>
                    </div>
                </div>

            </div>
            <!--/row-->


            <!-- 饼图 -->
            <div class="row">
                <div class="box col-md-6">
                    <div class="box-inner">
                        <div class="box-header well" data-original-title="">
                            <h2><i class="glyphicon glyphicon-list-alt"></i> 高销量商品Top10</h2>

##                            <div class="box-icon">
##                                <a href="#" class="btn btn-setting btn-round btn-default"><i
##                                        class="glyphicon glyphicon-cog"></i></a>
##                                <a href="#" class="btn btn-minimize btn-round btn-default"><i
##                                        class="glyphicon glyphicon-chevron-up"></i></a>
##                                <a href="#" class="btn btn-close btn-round btn-default"><i
##                                        class="glyphicon glyphicon-remove"></i></a>
##                            </div>
                        </div>
                        <div class="box-content">
                            <div id="reportHotGoodsByNumPie" style="height:300px"></div>
                        </div>
                    </div>
                </div>


                <div class="box col-md-6">
                    <div class="box-inner">
                        <div class="box-header well" data-original-title="">
                            <h2><i class="glyphicon glyphicon-list-alt"></i> 高销售额商品Top10</h2>

##                            <div class="box-icon">
##                                <a href="#" class="btn btn-setting btn-round btn-default"><i
##                                        class="glyphicon glyphicon-cog"></i></a>
##                                <a href="#" class="btn btn-minimize btn-round btn-default"><i
##                                        class="glyphicon glyphicon-chevron-up"></i></a>
##                                <a href="#" class="btn btn-close btn-round btn-default"><i
##                                        class="glyphicon glyphicon-remove"></i></a>
##                            </div>
                        </div>
                        <div class="box-content">
                            <div id="reportHotGoodsByAmountPie" style="height: 300px;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--/row-->

            <div id="hover"></div>

            <!-- chart libraries start -->
            <script src="${rc.contextPath}/resources/charisma/bower_components/flot/excanvas.min.js"></script>
            <script src="${rc.contextPath}/resources/charisma/bower_components/flot/jquery.flot.js"></script>
            <script src="${rc.contextPath}/resources/charisma/bower_components/flot/jquery.flot.categories.js"></script>
            <script src="${rc.contextPath}/resources/charisma/bower_components/flot/jquery.flot.pie.js"></script>
            <script src="${rc.contextPath}/resources/charisma/bower_components/flot/jquery.flot.stack.js"></script>
            <script src="${rc.contextPath}/resources/charisma/bower_components/flot/jquery.flot.resize.js"></script>
            <!-- chart libraries end -->
            <script src="${rc.contextPath}/resources/charisma/js/init-chart.js?v=2"></script>

            <!-- content ends -->
        </div>
        <!--/#content.col-md-0-->
    </div>
    <!--/fluid-row-->

    <hr>

    #parse("decoration/public/footer.vm")

</div>
<!--/.fluid-container-->

    #parse("decoration/public/commonJS.vm")
</body>
</html>
