<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>上古集团-登录页面</title>
    #parse("decoration/public/commonStyle.vm")
    <script type="text/javascript" src="${rc.contextPath}/resources/js/view/decoration/login.js?v=1"></script>

</head>

<body>
<div class="ch-container">
    <div class="row">
        
    <div class="row">
        <div class="col-md-12 center login-header">
            <h2>欢迎来到飞天系统</h2>
        </div>
    </div>

    <div class="row">
        <div class="well col-md-5 center login-box">
            <div class="alert alert-info">
                请输入您的手机号和密码
            </div>
            <form class="form-horizontal" action="index.html" method="post">
                <fieldset>
                    <div class="input-group input-group-lg">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-user red"></i></span>
                        <input type="text" id="mobilePhone" class="form-control" placeholder="手机号码">
                    </div>
                    <div class="clearfix"></div><br>

                    <div class="input-group input-group-lg">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-lock red"></i></span>
                        <input type="password" id="password" class="form-control" placeholder="密码">
                    </div>
                    <div class="clearfix"></div>

                    <p class="center col-md-5">
                        <button type="button"  id="loginBtn"  class="btn btn-primary">登 录</button>
                    </p>
                </fieldset>
            </form>
        </div>
    </div>
</div>

</div>
    #parse("decoration/public/alertModal.vm")
    #parse("decoration/public/commonJS.vm")
</body>
</html>
